body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  position: fixed;
  top: 10;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px; }
  .header .navbar {
    background-color: rgba(0, 0, 0, 0.603); }
    .header .navbar .container-fluid .navbar-brand {
      width: 250px;
      height: 100%;
      margin-top: -50px;
      margin-bottom: -50px; }
    .header .navbar .container-fluid .collapse .navbar-nav {
      list-style: none;
      align-items: center; }
      .header .navbar .container-fluid .collapse .navbar-nav .media {
        width: 55px;
        height: 45px; }

.weare div .fotoindex {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  background-color: black; }
  .footer a {
    width: 50px;
    height: 100%;
    color: rgba(255, 255, 255, 0.945); }
