.footer {display: flex; justify-content: center; align-items: center;
    padding: 20px 0px 20px 0px;
    background-color: rgb(0, 0, 0);
    .iconos {margin: 0px 10px 0px 10px; width: 50px; height: 100%;}}