.header {font-family: 'Righteous', cursive; font-size: 15px; width: 100vw; position: fixed;
    .navbar {padding-right: 50px; padding: 0px 50px 0px 0px;
        .container-fluid {
                .navbar-nav {list-style: none; align-items: center;
                }
            }
        }
    }
